asgiref==3.2.10
astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
Django==3.1
django-background-tasks==1.2.5
django-ckeditor==5.9.0
django-cleanup==5.0.0
django-colorfield==0.3.2
django-compat==1.0.15
django-crispy-forms==1.9.2
django-js-asset==1.2.2
django-mathfilters==1.0.0
django-unixtimestampfield==0.4.0
gcloud==0.17.0
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
install==1.3.3
isort==5.5.2
jws==0.1.3
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauth2client==3.0.0
Pillow==7.2.0
protobuf==3.13.0
pusher-push-notifications==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.4.3
pyfcm==1.4.7
PyJWT==1.7.1
pylint==2.6.0
Pyrebase==3.0.27
python-jwt==2.0.1
pytz==2020.1
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.6
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
urllib3==1.25.10
wrapt==1.12.1
