<!DOCTYPE html>
{% load static %}

<html lang="tr-tr">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Author -->
    <meta name="author" content="NEA Studios">
    <!-- description -->
    <meta name="description" content="Login">
    <!-- keywords -->
    <!-- Page Title -->
    <title> Ekmegim Sicak | Login</title>
    <!-- Favicon -->
    <link href="" rel="icon">
    <!-- Bundle -->
    <link href="{% static '/vendor/css/bundle.min.css' %}" rel="stylesheet">
    <!-- Plugin Css -->

    <link href="{% static 'css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/css/revolution-settings.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/css/jquery.fancybox.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/css/cubeportfolio.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/css/LineIcons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/css/wow.css' %}" rel="stylesheet">

    <!-- Style Sheet -->
    <link href="{% static 'css/nouislider.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/range-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

<!-- Preloader -->
<div class="preloader">
    <div class="center">
        <div class="spinner">
            <div class="blob top"></div>
            <div class="blob bottom"></div>
            <div class="blob left"></div>
            <div class="blob move-blob"></div>
        </div>
    </div>
</div>
<!-- Preloader End -->



<!--login start-->
<section class="p-lg-0 login-sec">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-lg-6 order-2 position-relative d-flex align-items-center bg-1">


                <div class="login-content text-center text-lg-left">

                    <!--logo-->
                    <div class="float-middle-logo">
                        <a class="navbar-brand link" href="{% static '/index-food-delivery.html' %}">
                            <img src="img/logo.png" class="" alt="logo">
                        </a>
                    </div>
                    <!--title-->
                    <div class="title d-inline-block mb-4">
                        <h6 class="mb-3 sub-heading">Lorem ipsum dolor sit amet</h6>
                        <h3 class="mb-3 heading">Get more things, done with Loggin platform.</h3>
                        <p class="text">Access to the most powerfull tool in the entire design and web industry.</p>
                    </div>

                    <!--form-->
                    <form>
                        <input class="form-control" type="text" name="username" placeholder="E-mail Address" required="">
                        <input class="form-control" type="password" name="password" placeholder="Password" required="">
                        <div class="form-button">
                            <button id="submit" type="submit" class="btn btn-large rounded-pill main-btn">Login</button> <a href="registeration.html" class="text">Not Registered Yet?</a>
                        </div>
                    </form>
                </div>

                <!--bottom nav start-->
                <div class="bottom-mini-nav">
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-12 simple-navbar d-flex align-items-center justify-content-start">
                            <nav class="navbar">
                                <a class="nav-link link" href="restaurant-listing.html">Browse Food</a>
                                <a class="nav-link link" href="{% static '/index-food-delivery.html#app-sec' %}">Download App</a>
                                <a class="nav-link link" href="{% static '/index-food-delivery.html#about-sec' %}">About Us</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--bottom nav end-->
            </div>
            <div class="col-12 col-lg-6 order-1 p-0 login-side-background" style="background-image: url('img/login-half-block.jpg');">
                <!--Feature Image Half-->
            </div>
        </div>


    </div>
</section>
<!--login end-->



<!-- JavaScript -->
<script src="{% static '/vendor/js/bundle.min.js' %}"></script>
<!-- Plugin Js -->
<script src="{% static '/vendor/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static '/vendor/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/vendor/js/parallaxie.min.js' %}"></script>
<script src="{% static '/vendor/js/wow.min.js' %}"></script>
<!-- REVOLUTION JS FILES -->
<script src="{% static '/vendor/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static '/vendor/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="{% static '/vendor/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static '/vendor/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static '/vendor/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static '/vendor/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static '/vendor/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static '/vendor/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static '/vendor/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static '/vendor/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static '/vendor/js/extensions/revolution.extension.video.min.js' %}"></script>
<!--Tilt Js-->
<script src="{% static '/vendor/js/TweenMax.min.js' %}"></script>
<!-- custom script-->
<script src="js/nouislider.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="{% static '/vendor/js/contact_us.js' %}"></script>
<script src="js/script.js"></script>

</body>
</html>