@import url('https://fonts.googleapis.com/css?family=Lemonada:400,700|Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
/******************ERROR PAGE 1******************/

.bg-blue-color{
    background-color: honeydew;
}

.img-error1{
    max-width: 100%;
    position: absolute;
    top: 0;
}

.col-height{
    height: 100vh;
}

.col-alignment{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.error-page-1 .main-heading{
    color: #ff6644;
    font-size: 100px;
    font-weight: 600;
}

.error-page-1 .text{
    margin-bottom: 15px;
    line-height: 1.6;
}

.error-page-1 .home-btn{
    background-color: #6c5be8;
    border: 2px solid #6c5be8;
    color: white;
    padding: 9px 27px 9px 27px;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}

.btn-arrow{
    font-size: 18px;
    -webkit-animation: 1s wobble infinite;
    animation: 1s wobble infinite;
    font-weight: bold;
}

.error-page-1 .home-btn:hover{
    background-color: rgba(108, 91, 232, 0.9);
    border: 2px solid #6c5be8;
}

.error-page-1 a{
    text-decoration: none;
}

@media screen and (max-width:768px){
    .col-alignment{
        display:block;
        text-align: center;
    }
    .img-error1 {
        max-width: 96%;
        position: absolute;
        top: inherit;
        bottom: 0;
    }
}

@media screen and (max-width:767px){
    .img-error1{
        bottom: 1px;
    }
    .col-alignment{
        display:block;
        text-align: center;
        padding-top: 50px;
    }
    .error-page-1 .main-heading {
        color: #ff6644;
        font-size: 70px;
    }
    .error-page-1 .text{
        font-size: 14px;
    }
    .error-page-1 .sub-heading{
        font-size: 17px;
    }


}


/******************ERROR PAGE 2******************/
.error-img-2{
    display: inline-block;
    height: 300px;
    width: 300px;
}
.erro-text{
    margin-top: 10%;
}
.error-page-2 .error-text{
    font-family: 'Lemonada', cursive;
    font-size: 60px;
    color: #00BCD4;
}
.error-page-2 .main-heading{
    font-family: 'Lemonada', cursive;
    color: #00000096;
    font-size: 20px;
    margin-bottom: 10px;
}
.error-page-2 .sub-heading{
    font-family: 'Lemonada', cursive;
    color: #00000096;
    font-size: 14px;
    margin-bottom: 10px;
}


@media (min-width:992px) and (max-width:1199px) {
    .erro-text{
        margin-top: 20%;
    }
}

@media (min-width:769px) and (max-width:991px) {
    .erro-text{
        margin-top: 40%;
    }

}

@media screen and (max-width:768px){
    .erro-text{
        margin-top: 40%;
    }
}

@media screen and (max-width:767px){
    .erro-text{
        margin-top: 50%;
    }
    .error-page-2 .error-text{
        font-size: 50px;
    }
    .error-page-2 .main-heading{
        font-size: 16px;
    }
    .error-page-2 .sub-heading{
        font-size: 12px;
    }


}



/******************ERROR PAGE 3******************/
.bg-error3-img{
    background: url("../img/404-3.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.text-alignment{
    height: 100vh;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.error-page-3 .main-heading{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0;
}
.error-page-3 .sub-heading{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.error-page-3 .text-error{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 357px;
    margin-bottom: 15px;
}

.error-page-3 .home-btn{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    padding: 9px 27px 9px 27px;
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}
.error-page-3 .home-btn:hover{
    background-color: white;
    border: 2px solid #ffffff;
    color: #f8335e;
}
.error-page-3 a{
    text-decoration: none;
}

@media screen and (max-width:767px){
    .error-page-3 .main-heading {
        font-size: 60px;
    }
    .error-page-3 .sub-heading {
        font-size: 42px;
    }
}