<!--
  Cok Kullanilan Renkler
  #f0d7a7
  #c37960
  #894e3f
  #eee1ba
  #9c634f

-->

<style>
.bg-custom-2 {
background-image: linear-gradient(15deg, #f0d7a7 0%, #c37960 100%);
}
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-custom-2">
 <div class="container">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!--
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>

  </div>
  -->
    

    {% if request.user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'ekmekKontrol' %}"><b>Ekmek Kontrol</b></a>
    <a class="navbar-brand" href="{% url 'dashboard' %}">Kontrol Paneli</a>
<ul class="navbar-nav ml-auto">
    
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Site Sayfasi</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:logout' %}">Cikis Yap</a>
        </li>
  </ul>
    {% else %}
    <a class="navbar-brand" href="{% url 'index' %}">Site Sayfasi</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
            <a class="nav-link" href="/user/login">Giriş Yap</a>
    </li>
  </ul>

    {% endif %}
        
  

  

  </div>

</nav>