{% extends "layout.html" %}

{% block body %}
{% load static %}
<br>
<div class="row">
  <div class="col-3" style="margin-top: 12px; margin-right: 45px">
  <h3><strong>Firinlar</strong></h3>

  </div>
  
</div>
<hr>
<br>




{% if firmalar %}

<!--
<table class="table table-striped table-hover table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">Başlık</th>
            <th scope="col">Yazar</th>
            <th scope="col">Tarih</th>
            <th scope="col">Kategori</th>
          </tr>
        </thead>
        <tbody>-->
          <div class="card-columns">

              
{% for firma in firmalar %}

<div class="card" style="width: 18rem; margin-top: 15px">

{% if firma.profilResmi %}
  <img src="{{firma.profilResmi.url}}" class="card-img-top" alt="">
        {% endif %}
  <div class="card-body text-center">
    <h5 class="card-title"><strong>{{firma.user.get_full_name|safe|striptags}}</strong></h5>
    <p class="card-text">{{firma.aciklama|safe|truncatewords:40|striptags}}</p>
    <hr>
    <div class="col-md-12 text-center">
    <a href="/user/profil/{{firma.user.id}}" class="btn btn-primary">Ekmek Durumunu Gor</a>
  </div>
  </div>
</div>

{% endfor %}


</div>

{% else %}
<div class="alert alert-danger">
    Makale Bulunamadı
</div>
{% endif %}

{% endblock body %}